<div class="switch-site">
<<<<<<< HEAD
    <a href="login">Login</a>
    <a href="register">Register</a>
</div>
=======
	<a href="login">Login</a>
	<a href="register">Rjegister</a>
</div>
>>>>>>> 61f810fb2860492a0fecb5ad513bb685a1422d8c
