* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4070f4;

    h1 {
        margin-bottom: 20px;
    }

    .form {
        max-width: 400px;
        width: 100%;
        padding: 20px;
        min-height: fit-content;
        background-color: #fff;
        border-radius: 8px;
        text-align: center;
    }

    .input-wrapper {
        display: flex;
        flex-direction: column;
        text-align: left;

        input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin: 8px 0;
        }
    }

    button {
        width: 100%;
        border: 0;
        background-color: #4070f4;
        color: #fff;
        margin: 20px 0;
        padding: 12px;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }
}

.switch-site {
    position: fixed;
    top: 40px;
    right: 40px;

    a {
        text-decoration: none;
        background-color: #fff;
        border: 0;
        border-radius: 8px;
        padding: 12px 32px;
        margin: 0px 12px;
    }
}
