<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="home">
        <header class="header flex-center">
            <div class="wide flex-sb">
                <div class="header-logo">
                    <img src="/images/logo.png" alt="logo">
                </div>
                <nav class="header-nav">
                    <ul class="flex-sb">
                        <li><a href="/">Home</a></li>
                        <li><a href="/auth/login">Login</a></li>
                        <li><a href="/auth/register">Register</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section class="banner flex-center">
            <div>
                <h1>HELLO WORLD</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="sub-nav">
                <ul class="flex-sb">
                    <li><a href="/auth/login">Login</a></li>
                    <li><a href="/auth/register">Register</a></li>
                </ul>
            </div>
        </section>
        <section class="photos flex-center">
            <div class="wide">
                <div class="wide-left">
                    <img src="https://www.w3schools.com/w3images/ocean.jpg" alt="">
                    <img src="https://www.w3schools.com/w3images/ocean2.jpg" alt="">
                    <img src="https://www.w3schools.com/w3images/falls2.jpg" alt="">
                </div>
                <div class="wide-right">
                    <img src="https://www.w3schools.com/w3images/mountainskies.jpg" alt="">
                    <img src="https://www.w3schools.com/w3images/mountains2.jpg" alt="">
                    <img src="https://www.w3schools.com/w3images/ocean.jpg" alt="">
                </div>
            </div>
        </section>
        <footer class="footer">
            &copy; 
            HIT NodeJS 2024
        </footer>
    </div>
</body>
</html>