<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTVN3</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <button><a href="/auth/register">Register</a></button>
            <button><a href="/auth/login">Login</a></button>
        </div>
    </div>
    
</body>
<footer>
    <p>HIT NodeJS 2024</p>
</footer>
</html>
