<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/header') %>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container-login">
        <header>
            <%- include('../components/nav') %>
        </header>
        <main>
            <form action="" class="login">
                <h1>LOG IN</h1>
                <p>Welcome to HIT NodeJS 2024</p>
                <input type="text" placeholder="Username">
                <br>
                <input type="password" placeholder="Password">
                <br>
                <button type="submit" onclick={preventRefresh}>Login</button>
            </form>
        </main>
        <footer>
            <p>HIT NodeJS 2024</p>
        </footer>
    </div>
</body>

</html>