<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="buttons">
            <a href="/auth/login"><button>Login</button></a>
            <a href="/auth/register"><button>Register</button></a>
        </div>
        <div class="login-container">
            <div class="wrapper signUp">
                <div class="illustration">
                    <img src="https://source.unsplash.com/random" alt="illustration" />
                </div>
                <div class="form">
                    <div class="heading">CREATE AN ACCOUNT</div>
                    <form>
                        <div>
                            <label htmlFor="name">Name</label>
                            <input type="text" id="name" placeholder="Enter your name" />
                        </div>
                        <div>
                            <label htmlFor="name">E-Mail</label>
                            <input type="text" id="name" placeholder="Enter your mail" />
                        </div>
                        <div>
                            <label htmlFor="password">Password</label>
                            <input type="password" id="password" placeholder="Enter you password" />
                        </div>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="develop">
            HIT NodeJS 2024
        </div>
    </div>

</body>

</html>