<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <div class="contain">
        <div class="header">
            <button><a href="/auth/login">Login</a></button>
        </div>
        <div class="form-container">
            <p class="title"><b>REGISTER</b></p>
            <form id="form-body" >
                <div >
                    <p>Email</p>
                    <input id="email" type="email" placeholder="Enter your Email..."/>
                </div>
                <br/>
    
                <div>
                    <p>Password</p>
                    <input id="password" type="password" placeholder="Enter your Password..."/>
                </div>
                <br/>
    
                <div>
                    <p>ConfirmPassword</p>
                    <input id="ConfirmPassword" type="password" placeholder="Confirm your Password..."/>
                </div>
                <br>
    
                <button class="button-2">Register</button>
                <br/>

                <p class="link">
                    You have account?
                    <button><a href="/auth/login">Login</a></button>
                </p>
            </form>
        </div>
    </div>
</body>
<footer>
    <p>HIT NodeJS 2024</p>
</footer>
</html>